<div>
    <div class="countdown-container">
        <div>
            <span>{{paddedMinutes[0]}}</span>
            <span>{{paddedMinutes[1]}}</span>
        </div>
        <span>:</span>
        <div>
            <span>{{paddedSeconds[0]}}</span>
            <span>{{paddedSeconds[1]}}</span>
        </div>
    </div>

    <button disabled *ngIf="hasFinished && !isActive" class="countdown-button">
        Ciclo encerrado
    </button>
    <button type="button" *ngIf="!hasFinished && isActive" class="countdown-button countdown-button-active" (click)="resetCountdown()">
        Abandonar ciclo
    </button>
    <button type="button" *ngIf="!hasFinished && !isActive" class="countdown-button" (click)="startCountdown()">
        Iniciar um ciclo
    </button>
</div>