.profile-container {
    display: flex;
    align-items: center;

    div {
        margin-left: 1.5rem;

        strong {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--title);
        }

        p {
            font-size: 1rem;
            margin-top: 0.5rem;

            mat-icon {
                color: var(--green);
            }
        }
    }
}

.profile-container > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

